@use "variables" as v;

.section-creatives {
  // border: 4px solid red;
  position: absolute;
  top: 6.875rem;
  width: 100%;
  height: 32rem;
  background-color: v.$Blue;
  &__title {
    // border: 1px solid red;
    color: v.$White;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.5rem;
  }
  &__arrow-down {
    position: absolute;
    // border: 1px solid red;
    margin: auto;
    top: 53%;
    left: 46%;
    z-index: 2;
  }
  &__header-img {
    // border: 3px solid yellow;
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: cover;
    height: 27rem;
  }

  @media (min-width: v.$Width-min-media) {
    &__header-img {
      // border: 1px solid red;
      background-image: url(../images/desktop/image-header.jpg);
      background-position-y: 100%;
      background-position-x: center;
      height: 35.375rem;
    }
  }

  @media (min-width: v.$Width-media) {
    &__title {
      // border: 1px solid red;
      padding-top: 4.25rem;
      font-size: 3.3em;
    }
    &__arrow-down {
      left: 41.1875rem;
    }
    &__header-img {
      // border: 1px solid red;
      background-image: url(../images/desktop/image-header.jpg);
      background-position-y: -16.875rem;
      height: 47.375rem;
    }
  }
}
