@use "variables" as v;
@use "initial";
@use "footer";
@use "mixins" as m;
@use "header";
@use "section_creatives";
@use "section_transform";
@use "section_stand_out";
@use "section_graphic_design";
@use "section_testimonials";
@use "section_images";
@use "section_social_networks";

.main-container {
  position: relative;
  // border: 1px solid red;
  min-width: v.$Width-mobile;
  height: v.$Height-mobile;
  margin: 0 auto 3.75rem;
  display: flex;
  flex-direction: column;
  @media (min-width: v.$Width-min-media) {
    // border: 10px solid red;
    min-width: v.$Width-tablet;
    height: v.$Height-tablet;
  }
  @media (min-width: v.$Width-media) {
    // border: 1px solid red;
    width: v.$Width-desktop;
    height: v.$Height-desktop;
  }
}
